/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
@import "blueprint";
@import "compass/css3";
@import "compass/utilities";
*/
body {
  background: transparent url("/images/textured_stripes/textured_stripes.png") left top repeat; }

section#stage {
  background: white url("/images/stitched_wool/stitched_wool.png") left top repeat;
  padding: 1em; }
