/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
@import "blueprint";
@import "compass/css3";
@import "compass/utilities";
*/
body {
  background: transparent url("/images/textured_stripes/textured_stripes.png") left top repeat; }

section#stage {
  background: white url("/images/stitched_wool/stitched_wool.png") left top repeat;
  padding: 1em; }

ul.tasklist {
  list-style-type: none; }
  ul.tasklist li.task {
    animation-duration: 5s;
    animation-name: fadein;
    margin-bottom: .5em;
    padding: 5px;
    cursor: pointer; }
    ul.tasklist li.task i {
      -webkit-transition-property: scale;
      -moz-transition-property: scale;
      -o-transition-property: scale;
      transition-property: scale;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: cubic-bezier(0.6, 2, 0.6, 1);
      -moz-transition-timing-function: cubic-bezier(0.6, 2, 0.6, 1);
      -o-transition-timing-function: cubic-bezier(0.6, 2, 0.6, 1);
      transition-timing-function: cubic-bezier(0.6, 2, 0.6, 1);
      visibility: hidden; }
  ul.tasklist li:hover.task {
    color: #f00; }
    ul.tasklist li:hover.task i {
      -webkit-transform: scale(1.5, 1.5);
      -moz-transform: scale(1.5, 1.5);
      -ms-transform: scale(1.5, 1.5);
      -o-transform: scale(1.5, 1.5);
      transform: scale(1.5, 1.5); }
  ul.tasklist li:hover.task i, ul.tasklist li.task.done i {
    visibility: visible; }
  ul.tasklist li.task.done {
    text-decoration: line-through;
    opacity: 0.7;
    border-radius: 12px; }

section.flash {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -ms-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 0s;
  position: absolute; }

.animated.delayed {
  animation-delay: 4s; }
